@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #f9f8f0;
  user-select: none;
  background-color: #242424;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

/* tuusn cod ks */
/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.projects {
  transition: all 1s;
  /* flex-col flex items-center h-[450px] w-[250px] border-2 border-white rounded-[10px] */
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 360px;
  width: 250px;
  border: 3px white;
  border-radius: 10px;
  background-color: #28282d;
  overflow: hidden;
  position: relative;
  z-index: 99999;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #ba3740;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.projects:nth-child(2n) .ag-courses-item_bg {
  background-color: #926e63;
}
.projects:nth-child(3n) .ag-courses-item_bg {
  background-color: #1b559a;
}

.projects:hover .ag-courses-item_bg {
  /* background-color: # */
  transform: scale(10);
}
.h1 {
  font-size: 25px;
}
.projects:nth-child(2n) {
  transition: all 2.5s;
}
.projects:nth-child(3n) {
  transition: all 5s;
}
.aboutText {
  opacity: 0;
  position: absolute;
  top: 30%;
  padding: 20px;
  z-index: 2;
  transition: all 200ms;
  font-size: 20px;
}
.projects:hover .aboutText {
  opacity: 1;
}
.down {
  transition: all 300ms;
  border: 2px solid transparent;
}

.down:hover {
  border-bottom: 2px solid rgb(61, 61, 61);
}
.popup {
  position: absolute;
  top: 30vh;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #444444;
  border-radius: 10px;
  z-index: 99999999;
  backdrop-filter: blur(20px);
  animation: popup 1s;
}

@keyframes popup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes popdown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(110%);
  }
}
